<div class="col" data-aos="zoom-in-left">
    <div class="panel">
        <h2>Testimonials</h2>
        <article class="content skills">
            <div class="row">
                <div class="col">
                    <div class="testimonial">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean&nbsp;sollicitudin, dui ut ullamcorper iaculis, odio est consectetur justo,&nbsp;<br></p>
                        <div class="text-monospace d-flex d-xl-flex justify-content-end align-items-center justify-content-xl-end align-items-xl-center">
                            <div class="avatar-mini"><img src="assets/img/Moganasundaram_001-750x0-c-default.jpg" width="50px"></div><span><span class="name">Cezar Vrabie</span><span style="font-size:13px;position:relative;top:-5px;"><br>CEO of Lamborghini SRL</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>